// Quantum Script Extension ApplicationVersion
// Copyright (c) 2016-2025 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2025 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/ApplicationVersion/Library.rh>
#include <XYO/QuantumScript.Extension/ApplicationVersion/Copyright.rh>
#include <XYO/QuantumScript.Extension/ApplicationVersion/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_APPLICATIONVERSION,"quantum-script--applicationversion.dll","Quantum Script Extension ApplicationVersion")
